body {
    margin:0;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    background: #000;
}

.container {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    padding: 8px;
    display: flex;
    gap: 8px;
    background: #000;
}